<!-- Logo Carousel -->
<div class="logo-carousel-section" th:fragment="logo-carousel">
   <div class="container ">
      <div class="logo-carousel-inner owl-carousel owl-theme owl-loaded">
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/apple.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/xiaomi.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/samsung.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/oneplus.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/nokia.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/vivo.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/realme.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/oppo.png} "
                 width="100%">
         </div>
         <div class="single-logo-item ">
            <img alt=" " th:src="@{/ecommerce/images/brands/vsmart.png} "
                 width="100%">
         </div>
      </div>
   </div>
</div>
<!-- Logo Carousel End -->