<!-- Header -->
<div th:fragment="header">
   <div class="top-header-area" id="sticker">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
               <div class="main-menu-wrap">
                  <!-- menu start -->
                  <nav class="main-menu">

                     <!-- logo -->
                     <div class="site-logo">
                        <a href="/home"> <img
                              alt="" th:src="@{/general/icon/logo.png}"></a>
                     </div>
                     <div class="site-logo logo-mini">
                        <a href="/home"> <img
                              alt=""
                              th:src="@{/general/icon/favicon.png}"></a>
                     </div>
                     <!-- logo -->

                     <ul>
                        <li class="current-list-item"><a href="/home">Home</a>
                        </li>
                        <li><a href="">About</a></li>
                        <li><a href="javascript:void(0);">Category</a>
                           <ul class="sub-menu">
                              <li><a href="/product/all">All</a></li>
                              <th:block
                                    th:each="category : ${categories}">
                                 <li>
                                    <a th:href="@{product/{tag}(tag=${category.tag})}"
                                       th:text="${category.name}">
                                    </a>
                                 </li>
                              </th:block>
                           </ul>
                        </li>
                        <li><a href=" ">Contact</a></li>

                        <li>
                           <div class="header-icons">
                              <a class="shopping-cart "
                                 th:href="@{cart}">
                                 <i aria-hidden="true"
                                    class="fas fa-shopping-cart "></i>
                              </a>

                              <th:block
                                    th:unless="${session.user}">
                                 <a class="login" th:href="@{login}">
                                    <i aria-hidden="true"
                                       class="fas fa-user"></i>
                                 </a>
                              </th:block>

                              <th:block
                                    th:if="${session.user}">
                                     <span aria-expanded="false"
                                           class="dropdown"
                                           id="UserDropdown">
                                      <a class="login"
                                         href="javascript:void(0);">
                                          <i aria-hidden="true"
                                             class="fas fa-user active"></i>
                                          <div aria-labelledby="UserDropdown"
                                               class="dropdown-menu dropdown-user">
                                              <div class="dropdown-header">
                                                  <div class="dropdown-header">
                                                      <div class="user-img">
                                                          <img alt="Profile image"
                                                               class="img-md rounded-circle"
                                                               th:src="@{/admin/images/faces/{image}(image=${session.user.image != null} ? ${session.user.image} : 'no-user.png')}">
                                                      </div>
                                                      <div class="user-info">
                                                          <p class="mb-1 fw-bolder"
                                                             th:text="${session.user.firstName + ' ' + session.user.lastName}">
                                                          </p>
                                                          <p class="fw-light text-lowercase mb-0"
                                                             th:text="${session.user.email}"></p>
                                                      </div>
                                                  </div>
                                              </div>
                                              <a class="dropdown-item">
                                                  <i class="fas fa-info fs-3 align-middle"></i>
                                                  <span class="align-middle ms-1">My Profile</span>
                                              </a>
                                              <a class="dropdown-item logout"
                                                 onclick="$('#logout').submit();">
                                                  <i class="fas fa-sign-out-alt fs-3 align-middle"></i>
                                                  <span class="align-middle ms-1">Sign Out</span>
                                                  <form id="logout"
                                                        th:action="@{/logout}"
                                                        th:method="post">
                                                  </form>
                                              </a>
                                          </div>
                                      </a>
                                 </span>
                              </th:block>

                              <a class="mobile-hide search-bar-icon"
                                 href="#">
                                 <i aria-hidden="true"
                                    class="fas fa-search"></i>
                              </a>
                           </div>
                        </li>
                     </ul>
                  </nav>
                  <a class="mobile-show search-bar-icon " href="# "><i
                        class="fas fa-search "></i></a>
                  <div class="mobile-menu "></div>
                  <!-- menu end -->
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- search area -->
   <div class="search-area">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <span class="close-btn"><i
                     class="fas fa-window-close"></i></span>
               <div class="search-bar">
                  <div class="search-bar-tablecell">
                     <h3>Search For:</h3>
                     <input placeholder="Keywords" type="text">
                     <button type="submit">
                        Search <i class="fas fa-search"></i>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end search area -->
</div>
<!-- Header Ends -->